<html>


<head>
 <titele>СЛИВ МАКСИМА</title>
</head>

<h1><center>МАКС ЛОХ !!!!!!!</center>
<h1>


<body bgcolor=grey >
<font size=14 color=blue><center>СЛИВЫ МАКСА!!!<center> </font>

</body>

<body><table border=1 bgcolor=black  >
<tr>
<td><font size=12 color=Red>МАКС НЕГР </font></td>
</body>
</tr>
</table>
<hr color=black     size=4> 
<img src=https://demotivation.ru/wp-content/uploads/2021/07/51-1.jpg
<br><bgcolor=red>
<a href=https://vk.com/roflniger><b>Наша группа в Вконтакте</b></a>






</html>
